<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>
    <body>
        
        <center><h1>word counter</h1></center>
        
        <div class="grid-container">
            <div class="left"></div>
            <center>
          <div class="main">
                  <form action="{% url 'result' %}">
                <textarea name="fulltext" id="" cols="40" rows="10"></textarea>
                <br><br>
                <input type="submit" value="Count!">
            </form>
          </div>
          </center>
          
          <div class="right"></div>
        </div>
    </body>
</html>

